.breadcrumb span a.btn.btn-default {
    color: #333;
    background-color: #fff;
    height:37px;
    position: relative;
    float: left;
    border: 0;
    border-radius: 0;
}
.btn-breadcrumb a.btn.btn-default {
    color:#fff;
    background-color: transparent;
    height:37px;
    position: relative;
    float: left;
    border: 0;
    border-radius: 0;
}